<footer class="footer">
    <div class="slant">
      <div class="division">
        <h3>Data Science</h3>
        <div class="image-container">
        <img src="assets/image-assets/data.png" alt="DSA">
        <img src="assets/image-assets/124.png" alt="DSA">
    </div>
      </div>
      <div class="division">
        <h3>Software Development</h3>
        <div class="image-container">
        <img src="assets/image-assets/software.jpg" alt="Software">
        <img src="assets/image-assets/121.png" alt="Software">
    </div>
      </div>
      <div class="division">
        <h3>Front-End Development</h3>
        <div class="image-container">
        <img src="assets/image-assets/123.png" alt="UI/UX">
        <img src="assets/image-assets/122.png" alt="UI/UX">
        </div>
      </div>
      <div class="division">
        <h3>Android App Development</h3>
        <div class="image-container">
        <img src="assets/image-assets/125.png" alt="Android">
        <img src="assets/image-assets/120.png" alt="Android">
    </div>
      </div>
    </div>
  </footer>
  