<div class="theme space about-pg">
    <title>{{about.title}}</title>
    <div class="container holder">
    <div class="main bt">
    <h2 class="gold-text">{{about.title}} me</h2>
    <p>{{about.content1}}</p>
    <h2 class="gold-text">Skills</h2>
    <p>
        <span class="services-style">{{ services.dsa }}:</span> Leveraging data to uncover insights, create predictive models, and inform decision-making. <br>
        <span class="services-style">{{ services.swd }}:</span> Designing and developing high-quality software solutions using various programming languages and tools.<br>
        <span class="services-style">{{ services.fed }}:</span> Crafting responsive and user-friendly interfaces using HTML, CSS, and JavaScript frameworks.<br>
        <span class="services-style">{{ services.ad }}:</span> Creating engaging and functional mobile applications for the Android platform.
      </p>
    <h2 class="gold-text">Experience</h2>
    <h3 class="blue-text">{{services.dsa}}: Techsavannah Technologies 05/06/2023 - Date</h3>
    <p>
        - Led data analysis projects, resulting in actionable insights and improved business processes.<br>
        - Developed machine learning models to optimize key performance indicators.<br>
        - Collaborated with cross-functional teams to drive data-driven decision-making.<br>
    </p>
    <h3 class="blue-text">{{services.swd}}: Techsavannah Technologies 05/06/2023 - Date</h3>
    <p>
        - Contributed to the design and development of a Sales Microservice system, a system that facilitate sales services and payment intergration.<br>
        - Implemented new features and enhancements, ensuring high code quality and performance.<br>
    </p>
    <h3 class="blue-text">{{services.fed}}: Techsavannah Technologies 05/06/2023 - Date</h3>
    <p>
        - Designed and implemented user interfaces for various web systems, delivering an intuitive and visually appealing user experience.<br>
        - Collaborated with UX/UI designers to translate wireframes into functional web pages.<br>
    </p>
    <h3 class="blue-text">{{services.ad}}: Google Playstore 2020 - Date</h3>
    <p>
        - Developed and maintained various Apps, including a football news/stream app and fish-gaming app.<br>
        - Implemented features such as news, streaming, and gaming, enhancing user engagement and satisfaction.<br>
    </p>
    <h2 class="gold-text">Education</h2>
    <p><b>Professional Degree in Data Science: MORINGA SCHOOL | 04/08/2023</b></p>
    <p><b>Bachelor's Degree in Information Technology: KABARAK UNIVERSITY | 20/12/2022</b></p>
    <h2 class="gold-text">Interests</h2>
    <p>In my free time, I enjoy Interpreting insights and coding, which allows me to get more knowledge on the insights and develope interactive apps, systems and websites.</p><br><br>
    <p class="center-text">Feel free to reach out to me for collaborations or opportunities.</p>
    
    <br><br><br><br>
</div>
<div class="sides image">
    <img src="assets/image-assets/126mee.png" alt="Cheruiyot"><br>
    <img src="assets/image-assets/126mee.png" alt="Cheruiyot"><br>
    <img src="assets/image-assets/126mee.png" alt="Cheruiyot">

</div>
</div>
</div>
